:root {
    --main-background-color: #210E09;
    --secondary-background-color: #301301;
    --brown-border-color:#210E09;
    --orange-backgroud-color: #D5621D;
    --orange-border-color: #D5621D;
    --orange-text-color: #D5621D;
    --main-text-color: #ffffff;
    --button-text-color:#210E09;
    --white-background-color: #ffffff;
}